# =============== Maven ===============
target/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# =============== Gradle ===============
.gradle/
build/

# =============== IntelliJ IDEA ===============
# 忽略用户特定配置
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/aws.xml
.idea/runConfigurations/
.idea/uiDesigner.xml
# 可选忽略（若团队未统一）
.idea/encodings.xml
.idea/vcs.xml

# 忽略可再生内容
.idea/libraries/
.idea/artifacts/
out/

# 忽略临时文件
*.iws

# =============== 其他通用忽略 ===============
.vscode/
*.log
*.tmp
.env
*.jks
node_modules/
.DS_Store
Thumbs.db